<html>
  <head>
      <link rel= "stylesheet"
            type= "text/css"
            href="{{url_for('static',
                  filename=
                  'styles/style.css')}}">
  </head>
  <body>
    <h1>Fitness App</h1>
    <div id="output">
      <form method="POST">
        <input type="number"
               name="feet"
               step="1"
               min="0"
               placeholder="Feet"
               required
               >
        <input type="number"
               name="inches"
               step="1"
               min="0"
               placeholder="Inches"
               required
               >
        <input type="number"
               name="weight"
               step="10"
               min="0"
               placeholder="Lbs"
               required
               >
        <input type="submit"
               value="Calculate">
      </form>
      <h3>
        Weight: {{weight}}
        BMI: {{bmi}}
        Your health is: {{ health }}
      </h3>
      {% if health %}
        <input type="number"
               name="goal"
               step="1"
               min="0"
               placeholder="Health goal"
               required
               >
      {% endif %}
      {% if goal %}
        <input type="number"
               name="goal"
               step="1"
               min="0"
               placeholder="Health goal"
               required
               >
      {% endif %}
    </div>
  </body>
</html>
